@font-face {
    font-family: 'Aldrich-Regular';
    src: url('./fonts/aldrichrusbydaymarius.ttf') format('truetype'), 
         url('./fonts/Aldrich-Regular.woff') format('woff'),
         url('./fonts/Aldrich-Regular.woff2') format('woff2');
    font-weight: normal; 
    font-style: normal; 
}

* {
    background-color: rgb(16, 49, 49);
}

.NameCont {
    display: flex;
    flex-direction: column;
    max-height: 80vh; /* Уменьшенная высота */
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    margin-top: 60px; /* Плавный переход */
}

.NameCont:hover {
    transform: translateY(5px);
}

.avatar {
    clip-path: circle(50%);
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
}

.MyName {
    border: 2px solid rgb(5, 39, 34);
    color: rgb(38, 160, 167);
    font-family: 'Aldrich-Regular', sans-serif;
    background-color: rgb(23, 71, 66);
    max-width: 600px;
    padding: 20px;
    /* margin: auto; */
    text-align: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 0 0 rgb(28, 119, 138);
    border-radius: 7px; /* Скругление углов */
}

.mainButton {
    border: 2px solid rgb(5, 39, 34);
    color: rgb(38, 160, 167);
    font-family: 'Aldrich-Regular', sans-serif;
    background-color: rgb(23, 71, 66);
    padding: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 0 0 rgb(28, 119, 138);
    border-radius: 7px; /* Скругление углов */
}